.inputContainer {
  display: flex;
}

.form {
  display: flex;
  margin: auto;
  width: 100%;
  gap: 0.5rem;
  align-items: center;
  margin-top: calc(-1.75rem);
}

.form  input {
  width: 100%;
  border: 0;
  resize: none;
  border-radius: 8px;
  padding: 1rem;
  height: 3.5rem;
  color: var(--gray-100);
  background-color: var(--gray-500);
  line-height: 1.4;
}

.form button[type="submit"] {
  display: flex;
  line-height: 1.4;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: var(--blue-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color .1s;
}

.form > button[type=submit]:not(:disabled):hover {
  background-color: var(--blue-300);
}

.form > button[type=submit]:disabled {
  background-color: var(--gray-400);
  color: var(--gray-300);
  cursor: not-allowed;
}